/* 1200px 以上 */
@media(min-width:1200px) {

  h1 {
    font-size: 70px !important;
  }

  h4, h5 {
    font-size: 37px !important;
  }

  p {
    font-size: 18px !important;
  }

  #header_inner .welcome {
    font-size: 70px !important;
  }

  #header_inner .title {
    font-size: 150px !important;
  }

  #header_inner .information {
    font-size: 25px !important;
  }



  #sidebar, #header, #checkmenu {
    display: none;
  }

  #drop-down {
    display: flex;
    position: absolute;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 10%;
    background: black;
    width: 100%;
    padding: 2% 2%;
  }

  .menu-btn-large {
    width: 240px;
    margin: 0px -3%;
    padding: 5px 0;
  }

  .botton-large {
    display: inline-block;
    width: 180px;
    height: 40px;
    position: relative;
    color: white;
    border: 1px solid white;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 20px;
    /* 字元間距 */
    letter-spacing: 4px;
    text-align: center;
    box-shadow: 2px 3px 0 0 white;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
  }

  /* 做陰影的位移，看起來有按鈕效果 */
  .botton-large::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 100%;
    transition: all .3s ease;
    background-color: white;
    z-index: -1;
  }

  /* BOOK ONLINE HOVER之後陰影位移不見 */
  .botton-large:hover {
    color: black;
    box-shadow: none;
    transform: translate(2px, 3px);
  }

  /* 做出 HOVER 效果 */
  .botton-large:hover::before {
    left: 0;
    top: 0;
  }

  .drop-down-menu .fas {
    color: white;
  }

  .drop-down-menu .home {
    display: none;
  }

  /* 滑鼠滑入展開次選單  */
  ul.drop-down-menu li:hover>ul {
    display: block;
  }

  ul.drop-down-menu li.homeA:hover .rotate {
    transform: rotate(180deg);
    transition: 0.3s;
  }

  ul.drop-down-menu li.homeA {
    position: relative;
  }

  ul.drop-down-menu li.homeA ul.home {
    background: white;
    border: #ccc 1px solid;
    position: absolute;
    left: 0%;
    top: 125%;
    min-width: 170px;
  }

  ul.drop-down-menu li.homeA ul.home a {
    padding-left: 10px;
  }

  .drop-down-menu .home a {
    color: black !important;
  }

  .drop-down-menu .home .fa-chevron-right {
    color: gray;
    margin-left: 5px;
    font-size: 10px;
  }

  .drop-down-menu .menu {
    display: none;
  }

  /* 滑鼠滑入展開次選單  */
  ul.drop-down-menu li:hover>ul {
    display: block;
  }

  ul.drop-down-menu li.menuA:hover .rotate {
    transform: rotate(180deg);
    transition: 0.3s;
  }


  ul.drop-down-menu li.menuA {
    position: relative;
  }

  ul.drop-down-menu li.menuA ul.menu a {
    display: flex;
    justify-content: left;
  }


  ul.drop-down-menu li.menuA ul.menu {
    background: white;
    border: #ccc 1px solid;
    position: absolute;
    left: 0%;
    top: 125%;
    min-width: 170px;
    padding-left: 10px;
  }

  .drop-down-menu .menu a {
    color: black !important;
  }

  .drop-down-menu .menu .fa-chevron-right {
    color: gray;
    margin-left: 5px;
    font-size: 10px;
  }


  #header_inner {
    position: relative;
    z-index: -1;
  }

  .drop-left {
    width: 10%;
  }

  .drop-down-menu {
    width: 80%;
    color: red;
    font-size: 10px;
    margin: auto;
    display: contents;
    margin-left: 100px;
  }

  .drop-down-menu li {
    font-size: 15px;
    text-align: left;
  }

  .drop-down-menu>li {
    float: right;
  }

  .drop-down-menu a {
    color: white;
    display: inline-block;
    padding: 0px;
    text-decoration: none;
    line-height: 40px;
  }

  .drop-down-menu i {
    display: inline-block;
  }

  .drop-down-btn {
    display: inline-block;
    position: absolute;
    margin: 30px 10px;
    padding: 10px 0;
    width: 10%
  }

  .drop-menu-botton {
    width: 150px;
    height: 30px;
    position: relative;
    color: white;
    border: 1px solid white;
    padding: 10px 10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    /* 字元間距 */
    letter-spacing: 5px;
    text-align: center;
    box-shadow: 2px 3px 0 0 white;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
  }

  /* 做陰影的位移，看起來有按鈕效果 */
  .drop-menu-botton::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 200%;
    top: 200%;
    transition: all .3s ease;
    background-color: white;
    z-index: -1;
  }

  /* BOOK ONLINE HOVER之後陰影位移不見 */
  .drop-menu-botton:hover {
    color: black;
    box-shadow: none;
    transform: translate(2px, 3px);
  }

  /* 做出 HOVER 效果 */
  .drop-menu-botton:hover::before {
    left: 0;
    top: 0;
  }

  #content2 {
    display: flex;
  }

  .large3 {
    flex-direction: column;
    width: 100%;
    margin: 0 5%;
    justify-content: end;
  }

  .flexImg {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .restaurant-img {
    width: 100%;
  }

  .restaurant-img img {
    object-fit: cover;
    width: 100%;
  }

  .largeImg {
    display: block;
    width: 100%;
  }

  .largeImg img {
    width: 100%;
    height: 97%;
    padding-top: 20px;
    margin-left: 20px;
  }

  #content2 {
    margin-bottom: 10%;
  }


  .content3Flex {
    margin-bottom: 10%;
  }

  .content3-1, .content3-2, .content3-3 {
    width: 33%;
  }

  .content4 {
    width: 33%;
  }

  .content5Flex {
    justify-content: space-between;
  }

  .content5 {
    width: 30%;
  }

  .content5-img img {
    width: 100%;
  }

  .content7-img {
    width: 23%;
  }

  .img-middle {
    margin: 0 0;
  }

  .marRight {
    margin-right: 32px;
  }

  #content7 {
    width: 100%;
  }

  .content7 {
    width: 25%;
  }

  .content7-img {
    width: 95%;
  }

  .content7-word {
    width: 95%;
  }

  .content7-word h2 {
    font-size: 80px;
  }

  .content7-img img {
    width: 100%;
  }

  #footer-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    width: 80%;
  }

  .footer-icon {
    width: 20%;
  }

  #footer-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .footer2-text {
    display: flex;
    width: 10%;
    font-size: 20px;
    justify-content: center;
    padding-top: 7px;
    margin-left: 10px;
    align-items: center;
  }

  .footer2-text2 {
    display: flex;
    padding: 0px 5px;
    width: 100%;
    justify-content: end;
    align-items: center;
  }

  .borderRight {
    padding-right: 24px;
    border-right: 1px solid rgb(211, 211, 211);
  }

  .paddingLeft {
    padding-left: 24px;
    padding-right: 5px;
  }
}